{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>

<body>
    <h1 class="center-align">Wacky Widgets</h1>

</body>

{% if widget_list|length == 0 %}
    <h3>No Widgets Exist</h3><hr>
{% else %}
    <table >
    <tr>
      <th>Description {{ widget.description}}</th>
      
        
      <th>Quantity {{ widget.Quantity}</th> 
      <th>Delete</th>
    </tr>
{% endif %}

    <h4>Add Widget</h4>

      
    <widget_form class='pure-form' action="" method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        
    <input type="submit" class="pure-button" value="Add Widget">
    </form>

